label, table {
  font-size: 15px;
}

input {
  max-width: 400px;
}

.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; height: 40px;position:relative;}
.progress-bar-custom {background: rgba(66, 139, 202, 1); background: -webkit-linear-gradient(top, rgba(39, 105, 163, 1) 0%, rgba(66, 139, 202, 1) 100%); background: linear-gradient(to bottom, rgba(39, 105, 163, 1) 0%, rgba(66, 139, 202, 1) 100%)}
.my_span {
    position:absolute;
    left:0;
    font-size: 200%;
    width:100%;
    line-height: 60px;
    text-align:center;
    z-index:2;
    color:black;
}
.progress {height: 80px !important;}
.number {
  font-weight: bold;
}

.jumbotron {
  height: 100%;
  margin-bottom: 0
}

.chart {
  height: 400px;
}

.container {
  max-width: 1000px;
}

#chart {
  overflow-y: scroll;
}

#chart {
  background: #eee;
  padding: 3px;
}

#chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

#chart div {
  height: 30px;
  font: 15px;
  background-color: #006dcc;
  text-align: right;
  padding: 3px;
  color: white;
  box-shadow: 2px 2px 2px gray;
}