<html>
    <head>
        <title>OAuth Flask Demo</title>
    </head>
    <body>
        <h1>OAuth Demo</h1>
        {% for message in get_flashed_messages() %}
            <p><b>Error</b>: {{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <h2>Hi, {{JOBID}}!</h2>

        {% else %}
            <h2>I don't know you!</h2>

             <a href="{{ url_for('oauth_authorize',provider='strava') }}"><img src="{{url_for('static', filename='sign-in.png') }}" alt="sign in"></a>

        {% endif %}
    </body>
</html>
